.DS_Store
node_modules
$houdini
.houdini
schema.graphql
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM and YARN
pnpm-lock.yaml
yarn.lock

# Because of Helm templating, the prettier formatter creates invalid YAML files.
/charts/templates
