html,
body {
	min-height: 100vh;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}
html {
	font-size: 16px;
	overflow-y: scroll;
}

h1 {
	font-size: 40px;
	line-height: 53px;
	letter-spacing: 0.1rem;
	color: var(--color-text-subtle);
	margin: 0;
}
h2 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0.08rem;
	color: var(--color-text-subtle);
	margin: 0;
}
h3 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.02rem;
	font-weight: 200;
	color: var(--color-text-subtle);
	margin: 0 0 24px;
}
h4 {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.01rem;
	font-weight: 100;
	color: var(--color-text-subtle);
	margin: 0 0 24px;
}
h5 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	color: var(--color-text-subtle);
	margin: 0;
}
