@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import '@nais/ds-svelte-community/css/darkside' layer(components);
@import '@layerstack/tailwind/core.css';
@import '@layerstack/tailwind/utils.css';

@source '../../node_modules/layerchart/**/*.{svelte,js}';

@theme inline {
	--color-primary: var(--ax-border-accent);
	--color-surface-100: var(--ax-bg-default);
	--color-surface-200: #00ff00;
	--color-surface-300: var(--ax-bg-raised);
	--color-surface-content: var(--ax-text-neutral-subtle);
}

:root {
	--spacing-layout: var(--ax-space-40);
}

html,
body {
	min-height: 100vh;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', Arial, sans-serif;
}
html {
	font-size: 16px;
	overflow-y: scroll;
}

.text-aligned-icon {
	height: var(--ax-font-line-height-large);
	vertical-align: bottom;
}

.aksel-heading--medium .heading-aligned-icon {
	height: var(--ax-font-line-height-heading-medium);
	vertical-align: bottom;
}

.search-modal {
	height: 90%;
	max-height: 52rem;

	> .aksel-modal__header {
		display: none;
	}

	> .aksel-modal__body {
		padding: 0;
		height: 100%;
	}
}

.lc-legend-swatch-button {
	background: none;
	border: 0;
	cursor: pointer;
}

.lc-text {
	font-family: sans-serif;
	font-size: 12px;
}
