:root {
	--active-color: var(--a-deepblue-50);
	--active-color-strong: var(--a-deepblue-100);
}

.winter {
	--active-color: var(--a-deepblue-50);
	--active-color-strong: var(--a-deepblue-100);
}

.spring {
	--active-color: var(--a-green-50);
	--active-color-strong: var(--a-green-100);
}

.summer {
	--active-color: #e9c9f225;
	--active-color-strong: #e9c9f290;
}

.autumn {
	--active-color: #fff0dc;
	--active-color-strong: #f5ce9c;
}
