name: storybook-to-github-pages
on:
  push:
    branches:
      - "main"
    paths:
      - "src/**/*.svelte"
      - "src/**/*.stories.*"
      - ".storybook/**"
      - "package.json"
      - "package-lock.json"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - id: build-publish
        uses: bitovi/github-actions-storybook-to-github-pages@ddd9d35f670cceedd2bfc444be681001b0709730 # ratchet:bitovi/github-actions-storybook-to-github-pages@v1.0.4
        with:
          path: storybook-static
