name: storybook-to-github-pages
on:
  push:
    branches:
      - "main"
    paths:
      - "src/**/*.svelte"
      - "src/**/*.stories.*"
      - ".storybook/**"
      - "package.json"
      - "package-lock.json"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - id: build-publish
        uses: bitovi/github-actions-storybook-to-github-pages@b75ece8f984a32b2adb322065d7a8a2cc8db2d52 # ratchet:bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          path: storybook-static
